.basketball-overlay-home-name, .basketball-overlay-away-name {
    position: absolute;
    top: 15px;
    left: 5px;
    color: white;
    font-weight: bold;
    font-size: 21px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.basketball-overlay-away-name {
    left: auto;
    right: 5px;
}

.basketball-overlay-home-roster, .basketball-overlay-away-roster {
    position: absolute;
    top: 40px;
    left: 5px;
    height: 100%;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
    transform: translateX(-120%);
    transition: transform .5s;
    will-change: transform;

    ul {
        list-style: none;
        height: 70%;
        padding-left: 0;
        overflow: scroll;

        li {
            padding: 15px 20px;
            background: rgba(0, 0, 0, .4);
            &:nth-child(2n) {
                background: rgba(0, 0, 0, .5);
            }
        }
    }

    &.isShowing {
        transform: translateX(0%);
    }
}

.basketball-overlay-away-roster {
    left: auto;
    right: 5px;
    text-align: right;
    transform: translateX(120%);
}

.basketball-overlay-center {
    position:absolute;
    top:0;
    left: 0;
    color: rgba(255,255,255,0.8);
    width:100%
    text-align:center;

    .background-box{
        margin-top: 5px;
        background: rgba(0, 0, 0, .4);
        padding: 5px 10px;
        display:inline-block;
    }

    .vs {
        padding: 0 20px;
    }

    .basketball-home, .basketball-away {
        font-weight: bold;
        font-size: 21px;

        &.isOpen{
            color: #fff;
        }
    }
    .smaller .basketball-home, .smaller .basketball-away{
        font-size:16px;
    }
}