# Mac OS X
*/.DS_Store
.DS_Store
.DS_Store?

# Language temp folder
langtemp/

# Python compiled files
*.pyc

# WWW Artifacts
android/app/src/main/assets/
android/app/*
ios/Live Centre/html/

# Android Studio files
android/.idea/

www/.history