body
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background: #333;

@import './icomoon.styl';
@import './components/common/_editableInput.styl';

@import './components/_productcard.styl';
@import './components/_video.styl';
@import './components/_overlay.styl';
@import './components/_common.styl';
@import './components/_mainframe.styl';
@import './components/_carousel.styl';
@import './components/_header.styl';
@import './constants/_fonts.styl';
@import './components/_category.styl';
@import './components/_search.styl';
@import './components/_masonry.styl';
@import './components/_mainContainer.styl';
@import './components/_poster.styl';
@import './components/_player.styl';
@import './components/_drawerMenu.styl';
@import './components/_overlayX.styl';
@import './components/_chat.styl';
@import './components/navigation/_mobileMenu.styl';
@import './components/_modal.styl';
@import './components/Notifications/_boxNotification.styl';


// Second Layer Styles
@import './components/_burstButton.styl';
@import './components/_fidgetSpinner.styl';
@import './components/_chatOverlay.styl';
@import './components/_penaltyCard.styl';
@import './components/_scoreOverlay.styl';
@import './components/_lineupOverlay.styl';
@import './components/_playerInfoOverlay.styl';
@import './components/_productOverlay.styl';
@import './components/_replayer.styl';
@import './components/_highlights.styl';
@import './components/_clickIndicator.styl';
@import './components/SecondLayer/_emptyOverlay.styl';

// Pages
@import './components/_profile-page.styl'
@import './components/_channel-page.styl'

@import './components/_sportSection.styl'

@import './components/_horizontalScroll.styl'

@import './components/form_items_common.styl'

.logged-menu-icon {
  display: inline-block;
    position: relative;
    height: 100%;
    width: 29px;
    padding: 12px;
    font-size: 24px;
}