.login {
    display: flex;

    .login-form {
        margin: auto;
        position: relative;
        padding: 20px;
        width: 80%;
        height: 300px;
        h2, span {
            color: white;
        }

        span {
            position: absolute;
            right: 20px;
            top: 20px;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            margin-bottom: 20px;
        }
    }
}