.channel-page
    img.logo
        position: absolute;
        top: 15%;
        left: 25%;
        max-width: 40%;

    .tile
        width:50%

@media (min-width: 750px)
    .channel-page
        .tile
            width:33.3%