.channel-page
    img.logo
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 40%;
        max-height: 30%;
        width: auto;
        filter: drop-shadow(5px 5px 5px #222);
    .tile
        width:50%
    .horizontalScrollInner
        margin-top: -15px;

.channelIcon
    font-size: 40px
    margin: 0 10px;
    
    .active
        color:white 

.inline-circle-label 
    .horizontalScroll 
        height:90px
        padding-top:15px
        .scrollItem
            text-align: center
            color: #c7c7c7
            opacity: 1
            transition: opacity .4s
            &.hidden
                opacity: 0
            &.active
                color: white

@media (min-width: 750px)
    .channel-page
        .tile
            width:33.3%