.inline
	display:inline-block
.floatLeft
	float:left
.floatRight
	float:right
.paddingRight
	padding-right: 40px
.paddingLeft
	padding-left: 40px
.hidden
	display:none
.visible
	display:visible
.center
	text-align:center
//Simple way to hide stuff on mobile or tablet; use hideOnTablet, hideOnMobile
@media (max-width: $medium_screen)
	.hideOnMobile
		display:none
		
@media (max-width: $big_screen)
	.hideOnTablet
		display:none

.container-fluid
	margin: 0 20px
	padding-top:5px

//Animation
.fadeOut
	transition: .5s all;
	opacity: 0
.fadeIn
	transition: .5s all;
	opacity: 1
//.preventScroll
//	overflow:hidden!important
//	touch-action: none!important
//	position: fixed!important
.white
	color:white
.black
	color:black

.videoThumb {
	position: relative;
	.liveOverlay, .newOverlay {
		position: absolute;
		z-index: 500;
		bottom: 10px;
		right: 10px;
		background: #e74c3c;
		padding: 5px 10px;
		font-size: 14px;
		text-shadow:2px 2px 2px rgba(0, 0, 0, .2);

		p {
			padding: 0;
			margin: 0;
		}
	}

	.newOverlay {
		background: #3498db;
	}
}