.fidget-spinner-container {
    position: absolute;
    top: 50%;
    left: 98%;
    transition: .5s all;
    opacity: .3;
    transform: scale(0) rotate(180deg) translate(-50%, -50%);

    &.isShowing  {
        transform: scale(1) rotate(0deg) translate(-50%, -50%);
    }

    &.isOpen {
        opacity: .9;
    }

    .fidget-spinner-center {
        transform: scale3d(1, 1, 1);
        transform-origin: center;
        transition: .5s all;

        &.isOpen {
            transform: scale3d(.6, .6, .6);
        }
    }

    .fidger-spinner-touch-zone {
        transform: scale3d(0, 0, 0);
        &.isOpen {
            transform: scale3d(1, 1, 1);
        }
    }


    .fidget-spinner-links {
        transform-origin: center;

        &.isSliding {
            transition: 1s all;
        }
    }

    .fidget-spinner-link {
        transform: scale3d(0, 0, 0);
        transform-origin: center;
        transition: .5s all;

        &.isOpen {
            transform: scale3d(1, 1, 1);
        }
    }
}