.formList {
    padding-left: 0;
    li {
        cursor: pointer;
        list-style: none;
        padding-bottom: 16px;
        color: #333;
        &:hover {
            color: $color_ocean;
        }
    }
}