.top-menu{
	display:block
}

.header{
  width: 100%;
  overflow: auto;
  background-color: #212121;
  text-transform: none !important;
  position: fixed;
  top: 0;
  z-index: 999;
}
#header-container *{
  text-transform: none !important;
}

.menuItem{
  margin: 10px !important;
	display:inline-block !important;
  text-transform: lowercase !important;
}
//Font size of everything in header.
#header-container button *, #header-container p{
  font-size: 16px!important;
}

@media (min-width: 1000px){
  .header{
    position: relative;
  }
  .menuItem{
    margin: 20px 10px 25px 20px !important;
  }
}

.fullscreen_menu{
	background-color: grey;	
	height: 100vh;
}
.fullscreen_menu .menuItem{
	display: block;
	width: 100%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.expandableMenu{
  background-color: rgba(0, 0, 0, .95); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-Index: 999999;
  overflow:hidden;
  color: #fff;
  list-style-type: none;
  padding-top: 16px;
}

//All paragraphs(items) in menu
.expandableMenu p{
  color: grey;
  padding: 20px 0 20px 40px;
  margin: 0;
  opacity: 1;
}
.closedMenu{
  display:none;
}

//Only the links
p.expandableMenuItem{
  border-top: solid 0.5px rgba(255, 255, 255, .5);
  color: #fff;
}
.active .expandableMenuItem {
  background-color: rgba(0, 174, 255, .2); //#00aeff
}

//Only the dividers
p.divider{
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 20px;
}

.expandableMenu a{
  color: #fff;
  text-decoration:none;
}

.closeButton{
  top: 20px;
  right: 20px
  position: absolute;
}

.bottomTabs{
  position:fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
}
.bottomTabs div{
  background-color: #212121;
  color: #fff;
}
