.top-menu{
	display:block
}

.header{
	padding: 0 40px;
    borderBottom: solid 1px #fff;
    width: 100%;
    overflow: auto;
    backgroundColor: #212121;
}

.menuItem{
	margin: 25px 10px 35px 10px !important;
	display:inline-block !important;
}
.fullscreen_menu{
	background-color: grey;	
	height: 100vh;
}
.fullscreen_menu .menuItem{
	display: block;
	width: 100%;
}

@media screen and (min-width: 1040px){
	.top-menu{
	display:inline-block
	}
}

