.top-menu{
	display:block
}

.header{
  width: 100%;
  background-color: #fff;
  text-transform: none !important;
  position: fixed;
  top: 0;
  z-Index: 999;
  color: #000;
}

.rightMenu{
  float:right;
}

@media (min-width: $big_screen){
  .rightMenu{
    padding-right:20px;
  }
}


#header-container *{
  text-transform: none !important;
}

.menuItem{
  margin: 6px !important;
	display:inline-block !important;
  text-transform: lowercase !important;
  color: #000 !important;
}


//Font size of everything in header.
#header-container button *, #header-container p{
}

@media (min-width: $big_screen){
  .header{
    position: relative;
  }
  .menuItem{
    margin: 20px 10px 25px 20px !important;
  }
}

.fullscreen_menu{
	background-color: grey;
	height: 100vh;
}
.fullscreen_menu .menuItem{
	display: block;
	width: 100%;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.expandableMenu{
  background-color: $color_ocean;
  position: fixed;
  bottom: $bottom_offset;
  width: 100%;
  right: 0;
  z-Index: 999999;
  overflow:auto;
  color: #fff;
  list-style-type: none;
}

//All paragraphs(items) in menu
.expandableMenu p{
  color: #efefef;
  padding: 13px 0 13px 0;
  margin: 0;
  opacity: 1;
  text-align:center;
}
.closedMenu{
  display:none;
}

//Only the links
p.expandableMenuItem{
  color: #fff;
}
.active .expandableMenuItem {
  background-color: rgba(0, 174, 255, .2); //#00aeff
}

//Only the dividers
p.divider{
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight:bold;
  color: #efefef;
}

.expandableMenu a{
  color: #fff;
  text-decoration:none;
}

.closeButton{
  top: 20px;
  right: 20px
  position: absolute;
}
.bottomTabs{
  position:fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

// MENU BUTTON ANIMATIONS


.animMenuIcon{
  padding: 0 0 4px 0;
  vertical-align: middle;
  stroke-linecap: round;
}

.animMenuIcon .bottom, .animMenuIcon .middle, .animMenuIcon .top{
    transition: all 0.3s $cubic;
    transform-origin: center;
}

.animMenuIcon.closed.subPage{
  .top{
      transform-origin: top right;
      transform: rotate(-45deg) translate(2px, 0) scale(0.5, 1);
  }
  .bottom{
      transform-origin: bottom right;
      transform: rotate(45deg) translate(2px, 0) scale(0.5, 1);
  }
  .middle{
    transform: translate(22px, 0);
  }
}

.animMenuIcon.open{
  .top{
      transform-origin: center;
      transform: rotate(-45deg) translate(-3.5px, 3.5px);
  }
  .bottom{
      transform-origin: center;
      transform: rotate(45deg) translate(-3px, -3.5px);
  }

  .middle{
    opacity: 0.5
    transform: translate(22px, 0);
  }

}
