.highlightsSlider
    position: absolute;
    bottom: 30px;
    //opacity: 0.8;
    z-index: 2000;

.highlightsSlider .rowTitle
    color: white
    line-height: 40px

.highlightsSlider .slick-next
    right: 25px

.highlightsSlider .slick-prev
    left: 25px

.highlightsCloseButton
    position: absolute
    top: 0
    right: 10px