.highlightsSlider
    position: absolute;
    bottom: 90px;
    opacity: 0.8;

.highlightsSlider .rowTitle
    color: white
    line-height: 40px

.highlightsSlider .slick-next
    right: 25px

.highlightsSlider .slick-prev
    left: 25px