.slide
	padding: 20px 0 0 0

	h1, p
		color: white

	h1 
		padding-top: 20px

a.rowTitle
	margin: 30px 0 0 10px
	float: left
	font-size: 16px;
	text-decoration: none

.sliderButtons
	float: right
	display: none;

.slider
	float: none
	width: 100%
	clear: both
	overflow: hidden
	margin-top: -8px;

.slider .slick-list
	transform: scale(.9) !important;
	overflow: visible !important;
	transform-origin: left;

//This margin makes room for the header being positioned fixed at top of it.
.main
	margin-bottom: 100px
	margin-top: 48px;

@media (min-width: 1000px)
	.main
		margin-top: 0;
