.slide
	padding: 0;

h3.rowTitle
	margin: 12px 0 0 10px
	text-transform: uppercase
	float: left
	font-family: Roboto, sans-serif;

.sliderButtons
	float: right

.slider
	float: none
	width: 100%
	clear: both


	