.slide
	padding: 0;

h3.rowTitle
	margin: 30px 0 0 10px
	float: left
	font-family: Roboto, sans-serif;
	color: white;
	font-size: 16px;

.sliderButtons
	float: right
	display: none;

.slider
	float: none
	width: 100%
	clear: both
	overflow: hidden
	margin-top: -8px;

//This margin makes room for the header being positioned fixed at top of it.
.main
	margin-bottom: 50px
	margin-top: 48px;

@media (min-width: 1000px)
	.main
		margin-top: 0;
