
$tilePadding = 10px 10px 10px 0
.masonry_tiles 
  .tile
    width:100%
    .masonry_tile_inner
      position:relative
      overflow:hidden
      margin: $tilePadding
    img
      width:100%
    .tile-overlay
      position: absolute
      left: 0
      right: 0
      bottom: 4px //Some wierd margin under the images. 
      max-height: 50px
      padding:5px
      align-items: center
      overflow:hidden
      display:flex
      background: rgba(0,0,0, 0.3)
    .tile-image
      position:relative  
    .masonryPlayButton
      float:right
      width:30%
      padding: 0!important
      order: 1
    .tile-text
      flex-grow: 1
      margin: 5px 0;
      float:left
      max-width:70%
      max-height:50px
      overflow:hidden
    h4
      font-size: $font_m
      color: #fff
      overflow:hidden
      text-overflow: ellipsis
      margin:5px
    p.metadata
      margin: 2px 0;
      font-weight:normal
      font-size: $font_s
      color: #000
      
@media (min-width: 500px)
  .masonry_tiles 
    .tile
      width:50%
@media (min-width: 700px)
  .masonry_tiles 
    .tile
      width:33.3%
@media (min-width: 1000px)
  .masonry_tiles 
    .tile
      width:25%
      .masonry_tile_inner
      p
        margin:5px 0 5px 0
      p.metadata
        font-size: $font_m
          
@media (min-width: 1500px)
  .masonry_tiles 
    .tile
      width:25%
