.programsPage
  .masonry_tiles 
    .tile
      width:50%
.sportsMainPage
  .masonry_tiles
    .tile
      width:50%

.masonry_tiles 
  margin-right:-10px
  .tile
    width:100%
    .masonry_tile_inner
      position:relative
      overflow:hidden
      margin: 0 10px 5px 0
    .centerOverlay
      position: absolute;
      top: 0
      left: 0
      width:100%
      height:100%
      display: flex;
      justify-content: center; /* align horizontal */
      align-items: center; /* align vertical */
      h1, h2, h4, h5, h6, p, .text
        //background-color: rgba(0, 0, 0, 0.3);
        padding:10px
    img
      width:100%
    .tile-overlay
      position: absolute
      left: 0
      right: 0
      bottom: 4px //Some wierd margin under the images. 
      padding:5px
      align-items: flex-end
      overflow:hidden
      min-height:50%
      display:flex
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
    .tile-image
      position:relative  
    .masonryPlayButton
      float:right
      width:30%
      padding: 0!important
      order: 1
    .tile-text
      flex-grow: 1
      margin: 5px 0;
      float:left
      max-width:70%
      overflow:hidden
    h4
      font-size: $font_m
      color: #fff
      overflow:hidden
      text-overflow: ellipsis
      text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
      margin:5px
    h2
      font-size: 24px;
      color: #fff;
      overflow: hidden;
      font-weight: bolder;
      text-overflow: ellipsis;
      text-shadow: 2px 2px 2px rgba(0,0,0,0.4);
      margin: 5px;
    p.metadata
      margin: 2px 0;
      font-weight:normal
      font-size: $font_s
      color: #000
      
@media (min-width: 500px)
  .masonry_tiles 
    .tile
      width:50%
@media (min-width: 700px)
  .masonry_tiles 
    .tile
      width:33.3%
@media (min-width: 1000px)
  .masonry_tiles 
    .tile
      width:25%
      .masonry_tile_inner
      p.metadata
        font-size: $font_m
          
@media (min-width: 1500px)
  .masonry_tiles 
    .tile
      width:25%
