.overlay-x-container {
    position: fixed;
    z-index: 1000;

    .ox-video-container {
        width: 100%;
        height: 200px;
        background: red;
        position: fixed;
        left: 0;  
        transition: .6s all; 
        z-index: 1001;
        overflow: hidden;
    }

    .ox-content {
        position: fixed;
        width: 100%;
        height: 100%;
        padding: 20px 20px 0 20px;
        margin-top: 200px
        background: white;
        left: 0;
        transition: .6s all;
    }

    &.open {
        .ox-video-container, .ox-content {
            top: 0;
            opacity: 1;
        }
    }

    &.closed {
        .ox-video-container, .ox-content {
            top: 100% !important;
            opacity: 0;
        }
    }

    &.minimized {
        .ox-video-container {
            width: 180px;
            height: 100px;
            top: calc(100% - 120px)
            left: calc(100% - 200px)
        }
        .ox-content {
            top: 100%;
            opacity: 0;
        }
    }

}