@import '../constants/_variables.styl'

.trapezoid
    top: 0
    border-top: 32px solid rgba(0,146,171,.5)
    border-right: 16px solid transparent
    height: 0
    width: 200px
    position: absolute
    z-index: 2147483647
    display: none

.fs-overlay {
    position: absolute /* Sit on top of the page content */
    width: 100% /* Full width (cover the whole page) */
    top:0
    left: 0
    background-color: white
    z-index: 100 /* Specify a stack order in case you're using a different order for other elements*/
    display: none;

    &.isOpen {
        display: block;
    }
    .overlay-header {
        // margin-top: 48px
		margin-bottom: 8px;
        display:flex
        justify-content: space-between
    }
}
