@media (max-width: $medium_screen) and (orientation : portrait)
    .fs-overlay.portrait
        transform: rotate(-90deg)

@media (max-width: $medium_screen) and (orientation : landscape)
    .fs-overlay
        transform: rotate(0)
