.product-overlay {
    position: absolute;
    width: 220px;
    height: 260px;
    bottom: -90px;
    left: 170px;
    border-radius: 4px;
    background-color: rgba(255,255,255,.5);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: 10000

    &.isShowing {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    &.portrait {
        bottom: inherit;
        top: 150px;
    }

    img {
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        margin-top: 10px;
    }

    .product-description {
        font-size: 11px;
        color: white;
        background: rgba(2,12,28,0.7);
        margin: 10px 10px 70px 10px
        border-radius: 4px
        padding: 2px
        position: absolute
        bottom: 0

        p {
            margin: 4px;
        }

    }

    .close-btn, .right-btn {
        background: rgba(2,12,28,0.7);
        position: absolute;
        right: 3px;
        top: 3px;
        width: 20px;
        height: 20px;
        color: #fff;
        border-radius: 4px;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

     .product-price {
        font-size: 11px;
        color: #fff;
        background: rgba(2,12,28,0.7);
        margin: 10px 10px 60px 10px;
        border-radius: 4px;
        padding: 2px;
        width: -webkit-fill-available;
        position: absolute;
        bottom: 0;
        height: 20px;

        i {

        }

        span{
            font-size: 11px;
            display: block;
            margin: 1px 2px 1px 2px;
        }
    }

    .cart-btn {
        font-size: 11px;
        color: #fff;
        background: rgba(2,12,28,0.7);
        margin: 10px 10px 10px 10px;
        border-radius: 4px;
        padding: 2px;
        width: -webkit-fill-available;
        position: absolute;
        bottom: 0;
        height: 20px;

        span{
            font-size: 12px;
            font-weight: bold;
            display: block;
            margin: 1px 2px 1px 2px;
        }
    }

    .buy-btn {
        color: #fff;
        background: rgba(2,124,28,0.7);
        margin: 10px 10px 40px 10px;
        border-radius: 4px;
        padding: 2px;
        width: -webkit-fill-available;
        position: absolute;
        bottom: 0;
        height: 20px;

        i {

        }

        span{
            font-size: 12px;
            font-weight: bold;
            display: block;
            margin: 1px 2px 1px 2px;
        }
    }

    .right-btn {
        left: auto;
        top: auto;
        bottom: 0;
        right: -30px;
    }

    .product-modal {
        background: rgba(2,12,28,0.7);
        position: absolute;
        top: 100%;
        left: -25px;
        transform: skew(-10deg);
        width: 100%;
        margin-top: 10px;
        height: 150px;
        opacity: 0;
        transition: .5s all;
        color: white;
        padding: 20px 25px;
        box-sizing: border-box;
    }

     
}

.buy-now {

    position: absolute
    bottom: 0
    width: -webkit-fill-available
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 

    &.show {
    opacity: 1;
    visibility: visible; 
    }

    .buy-btn {
         margin-bottom: 10px;
     }
     .payment-label {
        display: block;
        margin: 0 0 -8px 11px;
        font-size: 12px;
    }
    .payment-method {
        margin: 10px 10px 0px 10px;
        border-radius: 4px;
        padding: 2px;
        width: -webkit-fill-available;
        font-size: 12px;
    }

    .shipping-method {
        margin: 10px 10px 70px 10px;
        border-radius: 4px;
        padding: 2px;
        width: -webkit-fill-available;
        font-size: 12px;
    }
}

.product-details {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden; 

    &.show {
    opacity: 1;
    visibility: visible; 
    }
}

.product-tabs {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 130px;
    height: 30px;
    display: flex;

    .product-tab {
        display: inline-block;
        flex-grow: 1;
        text-align: center;
        height: 100%;
        padding: 6px 0;
        box-sizing: border-box;

        &:nth-child(3) {
            background: rgba(255, 255, 255, .1);
        }
        &:nth-child(2) {
            background: rgba(255, 255, 255, .2);
        }
        &:nth-child(1) {
            background: rgba(255, 255, 255, .3);
        }
    }
}

.productThumb {
    position: absolute;
    opacity: 0;
    bottom: 10px;
    height: 40px 
    width: 40px
    left: 10px
    bottom: 40px
    border-radius: 2px
    background-color: rgba(255, 255, 255, .5)
    opacity: 0;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    z-index: 10000;
    pointer-events: none;
}

.productThumb:hover {
    background-color: rgba(255, 255, 255, .8)
}

.productThumb img {
    max-width: 80%
    max-height: 80%
    margin: 10%
}

.productThumb.highlighted {
    opacity: 1;
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
    pointer-events: all;
}

.small-control.shopping-cart{
    margin: 10px
    padding: 0
    opacity: 0;
    pointer-events: none;
}
.shopping-cart.show {
    box-shadow: 0 0 0 rgba(204,169,44, 0.4);
    animation: pulse 2s infinite;
    border-radius: 4px;
    opacity: 1;
    pointer-events: all;
}

.cart {
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: -30%;
    left: 50%;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.9);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -webkit-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    z-index: 10000;
    &.show {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    .close-btn, .right-btn {
        background: rgba(2,12,28,0.7);
        position: absolute;
        right: 3px;
        top: 3px;
        width: 20px;
        height: 20px;
        color: #fff;
        border-radius: 4px;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}


