@keyframes card-show {
    0% {
        opacity: 0;
        right: 10px
    }
    3% {
        opacity: 1;
        right: 20px
    }
    97% {
        opacity: 1;
        right: 20px
    }
    100% {
        opacity: 0;
        right: 10px
    }
}

.replayer {
    width: 320px;
    height: 180px;
    //border-radius: 5px;
    //border: 1px solid rgba(250, 250, 250, 0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0, 0.4);
    background: transparent;
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 10px;
    opacity: 0;
    z-index: 3000;
    transition: .5s all;
    pointer-events: none;
    &.open {
        opacity: 1;
        right: 20px;
        pointer-events: all;
    }
}

