.score-overlay-container {
    transform: translateX(-50%) skew(-10deg);
    background: rgba(8, 3, 28, .6) url('/img/radial-gradient.png');
    background-size: 100%;
    background-position: -24px -96px;
    position: absolute;
    height: 40px;
    width: 300px;
    top: 10px;
    left: 50%;
    

    .counter-skew {
        transform: skew(10deg);
        width: 100%;
        height: 100%;
        color: white;
        font-weight: bold;
        position: relative;
        font-size: 18px;

        div {
            position: absolute;
            display: inline-block;
            top: 50%;
            transform: translateY(-50%);
        }
    }


    .team1-score {
        left: 16px;
    }
    .team2-score {
        right: 16px;
    }

    .team1-icon {
        background: white;
        left: 42px;
    }
    .team2-icon {
        right: 42px;
        overflow: hidden;
        &:before, &:after  {
            content: '';
            height: 50%;
            width: 100%;
            background: #003175;
            position: absolute;
            top: 0;
            left: 0;
        }

        &:after {
            background: #850D37;
            top: auto;
            bottom: 0;
        }
    }

    .team1-name {
        left: 62px;
    }

    .team2-name {
        right: 62px;
    }

    .clock {
        left: 50%;
        transform: translateX(-50%) translateY(-50%) !important;
        font-weight: normal;
        font-size: 18px;
        font-style: italic;
    }

    .team1-icon, .team2-icon {
        width: 8px;
        height: 40px;
        transform: translateY(-50%) skew(-10deg) !important;
    }
}

