@import '../constants/_variables.styl';
// -------  SEARCH  
.searchInput input
  background:none
  border-top: none
  border-left: none
  border-right: none
  font-size:$font_m
  padding: 6px
  border-bottom: 0;
  background-color:transparent
  width: 80%
  &:focus
    background-color:transparent

.searchInput input:active, .searchInput input:focus
  outline: none
  //border-bottom: solid 1px rgba(000, 000, 000, 0.5)
  color: #000

//For all search input fields
.searchInput
  border-bottom: solid 1px rgba(000, 000, 000, 0.2)
  input
    opacity: 1

//For mobile
.expandable_searchbar
  .menuItem
    position: absolute!important
    //padding: 5px!important
    opacity: 0!important
    transform: translate3d(-100%, 0,0)
    transition: all 0.2s $cubic
    z-index: 200
    
  .searchInput
    display:block
    position: absolute
    margin:10px 5px 5px 20px
    opacity: 1
    width: 80%
    //max-width: 250px
    opacity: 1
    transition: all 0.3s $cubic
    transform: translate3d(0, 0, 0)
    input
      transition: all 0.3s $cubic
      

.expandable_searchbar.closed
  .menuItem
    opacity: 1!important
    transform: translate3d(0, 0, 0)
  .searchInput
    width: 0%
    opacity: 0.3
    transform: translate3d(-10%, 0, 0)
    input
      opacity:0
.rightMenu
  .logged-menu-icon, .iconbutton
      transform: translate(0, 0);
      transition: all 0.1s $cubic
      
.rightMenu.searchOpen
  .logged-menu-icon, .iconbutton
      transform: translate(100%, 0);


//Searchcontainer - Window that expands to show suggestions.
.searchContainer
  position:fixed
  width:100%
  right:0
  top: 0
  transform: translate3d(0, $top_offset px, 0);
  bottom: 0//$bottom_offset
  z-index: 600
  overflow:auto
  background-color:white
  transition: all 0.3s $cubic
  .containers
    margin: 14px 0 0 10px
.searchContainer.close
    //bottom:100%
    transform: translate3d(0,-105%,0);
@media (min-width: $big_screen)
  .searchContainer
    top: $top_offset_desktop
    bottom: $bottom_offset_desktop

