.shopping-cart-table {
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    font-size: 12px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

table.shopping-cart-table td img {
    height: 50px;
}

.buy-btn {
        color: #fff;
        background: rgba(2,124,28,0.7);
        margin: 10px 10px 40px 10px;
        border-radius: 4px;
        padding: 2px;
        width: -webkit-fill-available;
        position: absolute;
        bottom: -30px;
        height: 20px;

        i {

        }

        span{
            font-size: 12px;
            font-weight: bold;
            display: block;
            margin: 1px 2px 1px 2px;
        }
    }