@import '../constants/_variables.styl';
.videoThumb
    // border: 1px solid $color_smoke
    // border-radius: 8px
    //height: 200px
    margin:5px
    transition: all 0.2s ease;
    &:hover
        transform:scale(1.05);
    img
        height: 112px!important
        width: auto
._grid
	.videoThumb
		height:125px
	@media (min-width: $grid_md)
		.videoThumb
			height:220px
	@media (min-width: $grid_bg)
		.videoThumb
			height:150px

.vjs_video_3-dimensions
    width: 100%
    margin:5px

.IMRPlayer .video-react .video-react-control-bar
    height: 3em

@media(max-width: $big_screen)
    .video-react .video-react-fullscreen-control
        display:none

.IMRPlayer .video-react
    font-size: 24px
    font-family: Roboto, sans-serif