// Progress Bar
.video-react-progress-control {
    position: absolute !important;
    top: -31px !important;
    width: 100% !important;
}

// .video-react-control-bar {
//     bottom: -73px !important;
// }