.settingsPage
    h1, h2, h3, h4, h5
        font-weight: bold
.section
    margin-top: 30px
input, textarea, select, button
    border: none;
    :&active
        outline:none
select, input
    font-size: 18px
    background: linear-gradient(#fff, #e5eef0);
    color:black
    padding: 10px

.formBtn
    background: linear-gradient(#7ab5e2, #61a6da) //#7ab5e2; //#6be447;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    &:active, &:focus
        outline: none
        background: linear-gradient(#689cc4, #5b8db1);
        color: #efefef

.secondaryBtn
    background: linear-gradient(#cbcbcb, #b0b0b0);
    &:active, &:focus
        background: linear-gradient(#737373, #606060);
    
.formBtn.halfBtn
    width: 48%
    margin: 0 1%
// label:before
//     content: "\f107"
//     font: $font_awesome;

textarea:focus, input:focus, select:focus
    outline: none;
    background-color: white;
    //border-color: #9ff842;
    //box-shadow: 0 0 10px #9ff842;

label
    display:block
    margin: 20px 0 10px 0

.formList 
    padding-left: 0;
    li 
        cursor: pointer;
        list-style: none;
        padding-bottom: 16px;
        color: white;
        background-color: rgba(250, 250, 250, 0.4);
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
        &.unactive
            background-color:transparent
            color: rgba(250, 250, 250, 0.8)
            padding-left: 0
    .formListcloseBtn
        float:right
        font-size: 18px

// select

// select option


// input, textarea, select, button

// button

// .mandatory