.video-splash
    // position: absolute;
    // right: 25px;
    // bottom: 20px;
    // width: 50%
    margin-bottom:10px;
    width:100%
    transform: skew(-10deg);
    background-color: rgba(39, 37, 45, 0.8);
    box-shadow: 2px 2px 20px 0px rgba(250,250,250,0.2);
    font-weight:bold;
    font-size:13px;
    float:left;
    .splash-inner
        transform: skew(10deg);
        padding: 5px 10px
        color: #fff

.prevSplash
    transform: translateY(-75px);
    //opacity: 0;
    transition: 0.3s all

.nextSplash
    transform: translateY(75px);
    //opacity: 0
    transition: 0.3s all