.video-controls
    font-size: 25px;

@media(orientation: portrait)
    .progressBar
        margin-bottom:-20px

.progressBar
    .time
        font-family: verdana;
        position: fixed;
        bottom: 11px;
        left: 65px;
        font-size:9px
        color:white
        &.right
            right: 10px
            left:auto
    .bar
        position: fixed;
        bottom: 7.5px;
.small-control
    position: fixed
    top: auto
    right: auto
    font-size: 15px
    bottom: 11px
    color: #fff